{% extends 'mydb01/base.html' %}
{% block title %} Index Autores {% endblock %}
{% block content %}
    <div>
        <div class="close">x</div>
        {% if db.error %}
            <div class="error">
                <p>{{db.mensaje}}</p>
            </div>
        {% else %}
            <div class="result">
                <p>{{db.mensaje}}</p>
            </div>
        {% endif %}
    </div>
    <div>
        {% if autores %}
            <div style="padding-inline: 5px;">
                {% for autor in autores %}
                    <div class="row" style="justify-content: space-between;">
                        <div style="align-self: flex-start;">
                            <p>{{autor.id}} {{autor.nombre}} {{autor.apellido}} {{autor.celular}} {{autor.email}}</p>
                        </div>
                        <div class="row">
                            <a href="{% url 'mydb:mistutoriales' autor.id %}"><i class="">buscar</i></a>
                            <a href="{% url 'mydb:aeditar' autor.id %}"><i class="fas fa-pencil-alt"></i></a>
                            <a href="{% url 'mydb:adelete' autor.id %}"><i style="color: red;" class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            <p class="error">
                No hay registros en la tabla
            </p> 
        {% endif %}
    </div>
    <p>{{h}}</p>

{% endblock %}
{% block form %}
    <h2>Registrar un Autor</h2>

    <form class="registrar" method="POST">{% csrf_token %}
        {{ formulario.as_p }}
        <input type="submit" value="Registrar">
    </form>
    <div>
        {% if click %}
        <div class="close">x</div>
            {% if enviado %}
                <div class="result">
                    <p>Se ingreso el registro correctamente</p>
                </div>
            {% else %}
                <div class="error">
                    <p>Error al ingresar</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if eliminado %}
            <div class="close">x</div>
            <div class="error">
                <p>El dato fue eliminado correctamente</p>
            </div>
        {% endif %}
    </div>
{% endblock %}